h3 {
    color: darkblue;
}

h1 {
    text-align: center;
    
}

h1,h3 {
    text-decoration-line: underline;
}

h3 > p, ol, ul, p{
    color: red;
}

p {
    font-family:'Courier New', Courier, monospace;
}